{% extends 'base.html' %}

{% block content %}
	<form method="post" >

    <label>
        Title
        <br />
        <input type="text" name="title" value="" required />
    </label>

    <label>
        Text
        <br />
        <textarea name="body" rows="6"></textarea>
    </label>

        <label>Tag
            <br />
            <input type="text" name="tag" value="" />
        </label>
    <label>
        Category
        <br />
        <input type="text" name="category" value="" />
    </label>

    <p style="margin-top:1rem;">
      <button type="submit">Save</button>
      <a class="muted" href="#">Cancel</a>
    </p>
  </form>
{% endblock %}
